.subclass {
    margin-left: 25px;
}

.currentCls, a:active, a:hover {
    color: #c7254e!important;
    text-decoration: none!important;
}

a.cls {
    cursor: pointer;
}

select#selectedClass {
    width: 128px;
}

.mainclasses {
    position: relative!important;
}

.unavailable {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: #fff;
    opacity: 0.5;
    top: 0px;
    cursor: not-allowed;
}

.logo-tud {
    background: url("../images/tud_logo_intern.gif") no-repeat;
    display: block;
    width: 128px;
    height: 37px;
    margin: 20px;
}

.logo-iccl {
    background: url("../images/iccl-web.png") no-repeat;
    display: block;
    width: 262px;
    height: 40px;
    margin: 20px;
}

.page-header {
    margin: 10px 0px 20px 0px!important;
}

.page-header div a {
    text-align: center;
}

.footer {
    margin: 10px 0px 10px 0px;
    font-size: 11px;
    text-align: center;
}

.developedby {
    color: #000;
}

.charts {
    margin: 20px 0px;
}