@(htmlClasses: String)

@import helper._
@import helper.twitterBootstrap._

@main("OWL PROJECT") {

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <a href="/">Home</a>
            <br/>
            <a href="/classes">Classes</a>
            <br/>
            <a href="/statistics">Statistics</a>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 mainclasses">
                    @if(!htmlClasses.isEmpty) {
                        @Html(htmlClasses)
                    }
                    <div class="unavailable" style="display:none;"></div>
                    <!--<div class="subclasses">-->
                        <!--<img style="display:none;" id="loader" src="@routes.Assets.at("images/ajax-loader.gif")" />-->
                    <!--</div>-->
                </div>

                <div class="col-md-8">
                    <img style="display:none;" id="loaderInds" src="@routes.Assets.at("images/ajax-loader.gif")" />
                    <div class="individuals"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<script language="JavaScript">
    $(document).ready(function() {

        $(".level1").show();

        $('.cls').click(function(e){
            e.preventDefault();

            //$(".toggled").slideUp();

            $(this).parent( "li" ).find('ul').first().addClass('toggled').slideToggle();

            var value = $(this).attr('href');

            getIndividuals($(this),value);

        });

    });
</script>

}