@(dataItm: List[String], objItm: List[String], name: String)

@import helper._
@import helper.twitterBootstrap._

@main("SEMANTIC WEB PROJECT PROJECT - @name") {

<div class="row">
    @if(!name.isEmpty) {
        <h3>@name</h3>
    }

    @if(!dataItm.isEmpty) {
        <div class="col-md-6">
            <ul class="list-unstyled">
                    <!--Data Properties-->
                    @for(value <- dataItm) {
                        @Html(value)
                        <!--<li class="lst"><a class="cls" href='/individ?q=@value'>@value</a></li>-->
                    }
            </ul>
        </div>
    }

    @if(!objItm.isEmpty) {
        <div class="col-md-6">
            <ul class="list-unstyled">
                    <!--Object Properties-->
                    @for(value <- objItm) {
                        @Html(value)
                    }
            </ul>
        </div>
    }
</div>


<script language="JavaScript">
    $(document).ready(function() {



    });
</script>

}